//#fffafb
//#1e2019
//#394032
//#8d89a6

$theme-color: #91cb3e;
$theme-primary: #fffafb;
$theme-secondary: #1e2019;
$theme-accent-1: #394032;
$theme-accent-2: #8d89a6;

$background-color: $theme-primary;

$text-color: $theme-secondary;

$alert-color: #f93f31;
$disabled-color: #d1d1d1;

$palette: (
  theme: $theme-color,
  theme-filter: mix($theme-color, transparent, 10%),
  secondary: $theme-secondary,
  accent-1: $theme-accent-1,
  background: $background-color,
  background-dark: mix($background-color, #000, 90%),
  text: $text-color,
  text-light: $theme-primary, //mix($text-color, #fff, 30%),
  alert: $alert-color,
  disabled: $disabled-color
);

@function palette($name: transparent) {
  @return map-get($palette, $name);
}
