<div id="sidebar">
  <a class="title" href="/dashboard">Alligator</a>
  <div class="section">
    <div class="title">View</div>
    <nav class="list">
      <a class="item" href="data">Raw Data</a>
      <a class="item" href="analysis">Analysis</a>
      <a class="item" href="reports">Reports</a>
    </ul>
  </div>
  <div class="section">
    <div class="title">Manage</div>
    <nav class="list">
      <a class="item" href="pods">Pods</a>
      <a class="item" href="/manage/hatchlings">Hatchlings</a>
    </ul>
  </div>
</div>
