<div id="sidebar">
  <div class="title">Alligator</div>
  <ul class="section">
    <div class="title">View</div>
    <li class="item">Raw Data</li>
    <li class="item">Analysis</li>
    <li class="item">Reports</li>
  </ul>
  <ul class="section">
    <div class="title">Manage</div>
    <li class="item">Pods</li>
    <li class="item">Hatchlings</li>
  </ul>
</div>
