<div id="sidebar">
  <div class="title">Alligator</div>
  <div class="section">
    <div class="title">View</div>
    <ul class="list">
      <a href="data"><li class="item">Raw Data</li></a>
      <a href="analysis"><li class="item">Analysis</li></a>
      <a href="reports"><li class="item">Reports</li></a>
    </ul>
  </div>
  <div class="section">
    <div class="title">Manage</div>
    <ul class="list">
      <a href="pods"><li class="item">Pods</li></a>
      <a href="hatchlings"><li class="item">Hatchlings</li></a>
    </ul>
  </div>
</div>
