#sidebar {
  @extend .card;

  .collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .clickable {
    &:hover {
      cursor: pointer;
    }
  }

  & > a.title {
    @extend .clickable;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: .8em .6em;
    background-color: palette(theme);

    &:hover {
      background-color: palette(theme-dark);
    }
  }

  .section {
    & > .title {
      @extend .clickable;
      font-size: 1.2em;
      font-weight: bold;
      text-align: start;
      padding: .4em .6em;
      background-color: palette(accent-1);
      color: palette(text-light);

      &:hover {
        background-color: palette(secondary);
        cursor: pointer;
      }
    }

    & > nav.list {
      @extend .collapsible;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1em;

      & > a.item {
        @extend .clickable;
        display: block;
        margin: 0;
        padding: .4em .6em;
        transition: all 0.1s ease-in;

        &:hover {
          background-color: palette(background-dark);
          border-left: solid 4px palette(secondary);
        }
      }
    }
  }
}
